
@media screen and (min-width:768px) {
    .App {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 768px;
    }
}
@media screen and (max-width:768px) {
    .App {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100vw;
    }
}

.doneGroup {
}

.App > .nav-bar > nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding-inline-start: 0px;
}

.App > .nav-bar > nav > ul > li {
    list-style: none;
}

.link {
    color: dimgrey;
    text-decoration: none;
    font-family: Georgia, serif;
}

.active {
    text-decoration-line: underline;
    font-weight: bold;
}

.todoItem {
    display: flex;
    margin: 10px;
    flex-direction: column;
    text-align: left;
}

.content {
    width: 90%;
    float: left;
}

.operate-bar {
    width: 40px;
    padding-top: 2px;
    display: flex;
    justify-content: space-between;
    float: right;
    font-min-size: 50%;
}

.todo {
    display: flex;
    flex-direction: column;
}

.input {
    float: left;
    margin: 5px;
}

.add {
    float: right;
    margin: 5px;
}

.strike {
    text-decoration: line-through;
}

.addInput {
    display: flex;
    padding: 5px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
